# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Model files (optional)
*.model

# HuggingFace cache (optional)
.cache/
~.cache/

# Data (optional if sensitive later)
data/*