# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Model files (optional)
*.model

# Data files (if sensitive later)
data/*